body
{
    margin: 0;
    width: 100%;
    background: linear-gradient(90deg, hsla(42, 74%, 82%, 1) 0%, hsla(245, 100%, 87%, 1) 74%, hsla(263, 100%, 84%, 1) 100%);
}
main
{
    width: 65vw;
    margin: auto;
}
#info
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content_cocktail
{
    position: relative;
    margin-bottom: 40px;
    height: 200px;
}
.img_cocktail
{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.title_cocktail
{
    background-color: black;
    border-radius: 5px;
    width: fit-content;
    color: white;
    padding: 10px;
    position: absolute;
    top: 83%;
    right: -5%;
    z-index: 2;
}
.page_title 
{
    text-align: center;
    letter-spacing: 2px;
}
#search_cocktail
{
    border: 2px solid rgb(103, 103, 190);
    border-radius: 5px;
    padding: 5px;
}
.input_div
{
    text-align: center;
    margin-bottom: 10vh;
}
.img_cocktail-alone
{
    width: 250px;
    height: 270px;
    margin: auto;
    object-fit: cover;
}
.content_cocktail-alone
{
    height: 270px;
    width: 250px;
    margin-right: 40px;
}
.content_cocktail, .content_cocktail-alone
{
    border: 7px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.instruction
{
    color: rgb(124, 124, 124);
}
.ingredient
{
    margin: 0;
    padding-bottom: 2px;
}
.button_all
{
    background-color: rgb(99, 168, 193);
    color: white;
    padding: 6px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

@media (min-width: 500px)
{
    #search_cocktail
    {
        width: 400px;
    }
}

@media (min-width: 700px)
{
    .content_cocktail-alone, .img_cocktail-alone
    {
        width: 450px;
    }
}

@media (min-width: 820px)
{
    #info
    {
        justify-content: space-between;
    }
    #content_one
    {
        display: flex;
        justify-content: space-between;
    }
    .content_cocktail-alone
    {
        margin-right: 2vw;
    }
}