body
{
    margin: 0;
    width: 100vw;
    text-align: center;
    background-color: rgb(231, 232, 237);
}
section h2
{
    font-weight: bold;
    padding-top: 8vh;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 2em;
}
section hr
{
    height: 4px;
    border: none;
    background-color: cornflowerblue;
    width: 70px;
    margin-bottom: 5vh;
}
#card_info
{
    margin: auto;
    width: 650px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px gray;
    background-color: white;
}
#card_img
{
    margin-top: 2vh;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 5px -4px 0px cornflowerblue;
    border-radius: 50%;
}
#prev, #next
{
    color: cornflowerblue;
    background-color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin-top: 2vh;
}
#prev:hover, #next:hover
{
    color: rgb(67, 78, 129);
}
#surprise
{
    color: cornflowerblue;
    background-color: white;
    border-radius: 5px;
    border-color: cornflowerblue;
    font-size: 16px;
    margin-bottom: 5vh;
}
#surprise:hover
{
    background-color: cornflowerblue;
    color: #000;
    cursor: pointer;
}
#card_name
{
    text-transform: capitalize;
    font-weight: bolder;
    margin-bottom: 0;
}
#card_job
{
    text-transform: uppercase;
    color: cornflowerblue;
    margin-top: 0;
}
#card_job-description
{
    color: rgb(67, 78, 129);
    width: 90%;
    margin: auto;
    font-size: 18px;
}