body
{
    margin: 0;
    height: 100vh;
    background-color: rgb(245, 239, 229);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.div_add
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    background-color: rgb(152, 214, 214);
    border-radius: 10px;
}
.div_add button
{
    border: none;
    background-color: rgb(72, 184, 184);
    height: 25px;
    color: white;
    font-size: larger;
    border-radius: 50%;
}
.container_todo
{
    width: 250px;
    height: 500px;
    margin: auto;
    background-color: white;
    border: 4px solid rgb(72, 184, 184);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow: auto;
}
section
{
    height: 100vh;
}
article
{  
    height: 100vh;
    display: flex;
    justify-content: center;
}
.div_task button
{
    border: none;
    background-color: rgb(72, 184, 184);
    color: white;
    padding: 5px;
    border-radius: 50%;
    margin: 0 5px;
}
.div_task
{
    background-color: rgb(152, 214, 214);
    text-align: left;
    padding-inline: 8px;
    padding-block: 5px;
    border: 1px solid rgb(72, 184, 184);
    border-radius: 5px;
    margin-block: 10px;
}
.div_task h4
{
    margin: 0;
}
.div_task div
{
    text-align: center;
}
.modal
{
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 10px;
    padding-inline: 20px;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(10px 40px 150px black);
    position: relative;
    top: -80vh;
    z-index: 10;
}
.div_btn-close
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_close
{
    border: none;
    height: 25px;
    width: 25px;
    background-color: rgb(72, 184, 184);
    border-radius: 50%;
    color: white;
}
.input_grp
{
    display: flex;
    flex-direction: column;
}
input, textarea
{
    margin-block: 8px;
}
.modal_btn
{
    display: flex;
    justify-content: end;
}
#modal_btn-close
{
    border: none;
    background-color: rgb(72, 184, 184);
    color: white;
    border-radius: 10px;
    margin-inline: 8px;
    padding: 5px;
}
#modal_btn-add, #modal_btn-edit
{
    border: none;
    background-color: rgb(152, 214, 214);
    border-radius: 10px;
    padding: 5px;
}
.none
{
    display: none;
}