#site-search
{
    background-color: rgb(214, 214, 214);
}
#card_container
{
    width: 70vw;
}
.card
{
    padding: 0;
    width: 30%;
}
nav a
{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
nav a:hover
{
    color: black;
}
.card img
{
    max-height: 130px;
    object-fit: cover;
}
.none
{
    display: none;
}