body
{
    letter-spacing: 4px;
}
.card
{
    width: 50vw;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
    box-shadow: 3px 3px 20px gray;
}
.green_info
{
    background-color: darkseagreen;
    border-radius: 5px;
    text-transform: capitalize;
}
.red_info
{
    background-color: rgb(225, 147, 147);
    border-radius: 5px;
    text-transform: capitalize;
}
#submit_btn
{
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
}
.item_content
{
    display: flex;
    justify-content: space-between;
}
#remove_all
{
    background-color: white;
    letter-spacing: 8px;
}
.none
{
    display: none;
}