body
{
    margin: 0;
    height: 100vh;
    display: flex;
}
#info
{
    width: 500px;
    background-color: black;
    opacity: 0.8;
    margin: auto;
}
.weather
{
    z-index: 3;
    color: white;
}
.div_weather
{
    z-index: 3;
    color: white;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
}
h2 span
{
    text-transform: capitalize;
}
.div_weather img
{
    margin-right: 10px;
}