body
{
    margin: 0;
    width: 100vw;
}
form
{
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
}
.form_content
{
    display: flex;
    justify-content: space-between;
}
.select_container
{
    width: 48%;
}
.input_grp
{
    display: flex;
    justify-content: space-between;
}
.input_grp input 
{
    width: 70%;
}
#btn_send 
{
    float: right;
}
#info
{
    font-size: smaller;
    padding-top: 2vh;
    display: none;
}